body{
	background: blue;
}
h1{
	color: red;
	font-size: 3vw;
	text-transform: capitalize;
	text-shadow: 2px black;

}
form{
	border:  1px solid black;
	width: 50%;
	margin: auto;
	text-transform: uppercase;
}